<config>
	<!-- QuiX sampler UIs -->
	<context path="fields.xml" method="GET" client=".*" lang=".*" action="fields.xml"/>
	<context path="labels.xml" method="GET" client=".*" lang=".*" action="labels.xml"/>
	<context path="lists.xml" method="GET" client=".*" lang=".*" action="lists.xml"/>
	<context path="menus.xml" method="GET" client=".*" lang=".*" action="menus.xml"/>
	<context path="splitters.xml" method="GET" client=".*" lang=".*" action="splitters.xml"/>
	<context path="trees.xml" method="GET" client=".*" lang=".*" action="trees.xml"/>
	<context path="tab.xml" method="GET" client=".*" lang=".*" action="tab.xml"/>
	<context path="files.xml" method="GET" client=".*" lang=".*" action="files.xml"/>
	<context path="misc.xml" method="GET" client=".*" lang=".*" action="misc.xml"/>

	<!-- QuiX sampler images -->
	<context path="images/edit.gif" method="GET" client=".*" lang=".*" action="images/edit.gif"/>
	<context path="images/menus.gif" method="GET" client=".*" lang=".*" action="images/menus.gif"/>
	<context path="images/text.gif" method="GET" client=".*" lang=".*" action="images/text.gif"/>
	<context path="images/view_text.gif" method="GET" client=".*" lang=".*" action="images/view_text.gif"/>
	<context path="images/view_top_bottom.gif" method="GET" client=".*" lang=".*" action="images/view_top_bottom.gif"/>
	<context path="images/quixsampler.gif" method="GET" client=".*" lang=".*" action="images/quixsampler.gif"/>
	<context path="images/trees.gif" method="GET" client=".*" lang=".*" action="images/trees.gif"/>
	<context path="images/tab.gif" method="GET" client=".*" lang=".*" action="images/tab.gif"/>
	<context path="images/files.gif" method="GET" client=".*" lang=".*" action="images/files.gif"/>
	<context path="images/misc.gif" method="GET" client=".*" lang=".*" action="images/misc.gif"/>

</config>
