<config>
	<context path="widgets.js" method="GET" client=".*" lang=".*" action="widgets.js">
		<filter
			type="porcupine.filters.postProcessing.multilingual.Multilingual"
			using="org.innoscript.desktop.strings.resources"/>
	</context>
	<context match="(.*)\.js"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.js"/>
	<!-- Desktop images-->
	<context match="images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="images/$1"
		max-age="3600"/>
</config>
