<config>
	<context path="container_list.js" method="GET" client=".*" lang=".*" action="container_list.js"/>
	<context path="desktop.js" method="GET" client=".*" lang=".*" action="desktop.js"/>
	<context path="dlg_selectobjects.js" method="GET" client=".*" lang=".*" action="dlg_selectobjects.js"/>
	<context path="form_auto.js" method="GET" client=".*" lang=".*" action="form_auto.js"/>
	<context path="form_group.js" method="GET" client=".*" lang=".*" action="form_group.js"/>
	<context path="form_user.js" method="GET" client=".*" lang=".*" action="form_user.js"/>
	<context path="generic.js" method="GET" client=".*" lang=".*" action="generic.js"/>
	<context path="login.js" method="GET" client=".*" lang=".*" action="login.js"/>
	<context path="recycleBin.js" method="GET" client=".*" lang=".*" action="recycleBin.js"/>
</config>
