<config>
	<context path="queryperformer.quix"
			 method="GET"
			 client=".*"
			 lang=".*"
			 action="queryperformer.quix"/>
	<context path="newquery.quix"
			 method="GET"
			 client=".*"
			 lang=".*"
			 action="newquery.quix"/>
	<context path="queryperformer.js"
			 method="GET"
			 client=".*"
			 lang=".*"
			 action="queryperformer.js"/>
</config>