<config>
	<context path="compat.js" method="GET" client=".*" lang=".*" action="compat.js"/>
	<context path="xul_core.js" method="GET" client="MSIE [6-7]" lang=".*" action="core_ie.js"/>
	<context path="xul_core.js" method="GET" client="Netscape/7|Mozilla/5.0" lang=".*" action="core_moz.js" filters="porcupine.filters.postprocessing.Gzip"/>

	<context path="quixextensions.js" method="GET" client=".*" lang=".*" action="quixextensions.psp"/>

	<context path="xmlrpc.js" method="GET" client=".*" lang=".*" action="xmlrpc.js"/>
	<context path="print.htm" method="GET" client=".*" lang=".*" action="print.htm"/>
	<context path="ReadFile.jar" method="GET" client=".*" lang=".*" action="ReadFile.jar"/>

	<!-- QuiX Stylesheets -->
	<context path="quix.css" method="GET" client=".*" lang=".*" action="quix.css.psp"/>

	<!-- QuiX Modules -->
	<context path="box.js" method="GET" client=".*" lang=".*" action="box.js"/>
	<context path="buttons.js" method="GET" client=".*" lang=".*" action="buttons.js"/>
	<context path="common.js" method="GET" client=".*" lang=".*" action="common.js"/>
	<context path="datagrid.js" method="GET" client=".*" lang=".*" action="datagrid.js"/>
	<context path="datepicker.js" method="GET" client=".*" lang=".*" action="datepicker.js"/>
	<context path="file.js" method="GET" client=".*" lang=".*" action="file.js"/>
	<context path="formfields.js" method="GET" client=".*" lang=".*" action="formfields.js"/>
	<context path="listview.js" method="GET" client=".*" lang=".*" action="listview.js"/>
	<context path="menus.js" method="GET" client=".*" lang=".*" action="menus.js"/>
	<context path="splitter.js" method="GET" client=".*" lang=".*" action="splitter.js"/>
	<context path="tabpane.js" method="GET" client=".*" lang=".*" action="tabpane.js"/>
	<context path="toolbars.js" method="GET" client=".*" lang=".*" action="toolbars.js"/>
	<context path="tree.js" method="GET" client=".*" lang=".*" action="tree.js"/>
	<context path="windows.js" method="GET" client=".*" lang=".*" action="windows.js"/>
	<context path="timers.js" method="GET" client=".*" lang=".*" action="timers.js"/>
	<context path="formfields2.js" method="GET" client=".*" lang=".*" action="formfields2.js"/>


	<!-- QuiX images-->
	<context path="images/add16.gif" method="GET" client=".*" lang=".*" action="images/add16.gif"/>
	<context path="images/asc8.gif" method="GET" client=".*" lang=".*" action="images/asc8.gif"/>
	<context path="images/bc_brown.jpg" method="GET" client=".*" lang=".*" action="images/bc_brown.jpg" max-age="3600"/>
	<context path="images/check16.gif" method="GET" client=".*" lang=".*" action="images/check16.gif"/>
	<context path="images/collapse.gif" method="GET" client=".*" lang=".*" action="images/collapse.gif"/>
	<context path="images/date16.gif" method="GET" client=".*" lang=".*" action="images/date16.gif"/>
	<context path="images/desc8.gif" method="GET" client=".*" lang=".*" action="images/desc8.gif"/>
	<context path="images/document.gif" method="GET" client=".*" lang=".*" action="images/document.gif"/>
	<context path="images/download.gif" method="GET" client=".*" lang=".*" action="images/download.gif"/>
	<context path="images/error32.gif" method="GET" client=".*" lang=".*" action="images/error32.gif"/>
	<context path="images/expand.gif" method="GET" client=".*" lang=".*" action="images/expand.gif"/>
	<context path="images/file_temporary.gif" method="GET" client=".*" lang=".*" action="images/file_temporary.gif"/>
	<context path="images/list_header.gif" method="GET" client=".*" lang=".*" action="images/list_header.gif"/>
	<context path="images/menu_radio.gif" method="GET" client=".*" lang=".*" action="images/menu_radio.gif"/>
	<context path="images/menu_check.gif" method="GET" client=".*" lang=".*" action="images/menu_check.gif"/>
	<context path="images/on_off_down.gif" method="GET" client=".*" lang=".*" action="images/on_off_down.gif"/>
	<context path="images/on_off_left.gif" method="GET" client=".*" lang=".*" action="images/on_off_left.gif"/>
	<context path="images/on_off_right.gif" method="GET" client=".*" lang=".*" action="images/on_off_right.gif"/>
	<context path="images/on_off_up.gif" method="GET" client=".*" lang=".*" action="images/on_off_up.gif"/>
	<context path="images/remove16.gif" method="GET" client=".*" lang=".*" action="images/remove16.gif"/>
	<context path="images/resize-handle.gif" method="GET" client=".*" lang=".*" action="images/resize-handle.gif"/>
	<context path="images/spin_up.gif" method="GET" client=".*" lang=".*" action="images/spin_up.gif"/>
	<context path="images/submenu.gif" method="GET" client=".*" lang=".*" action="images/submenu.gif" max-age="3600"/>
	<context path="images/tb_handle.gif" method="GET" client=".*" lang=".*" action="images/tb_handle.gif"/>
	<context path="images/transp.gif" method="GET" client=".*" lang=".*" action="images/transp.gif" max-age="3600"/>
	<context path="images/upload.gif" method="GET" client=".*" lang=".*" action="images/upload.gif"/>
	<context path="images/win_close.gif" method="GET" client=".*" lang=".*" action="images/win_close.gif"/>
	<context path="images/win_close_over.gif" method="GET" client=".*" lang=".*" action="images/win_close_over.gif"/>
	<context path="images/win_max.gif" method="GET" client=".*" lang=".*" action="images/win_max.gif"/>
	<context path="images/win_max_over.gif" method="GET" client=".*" lang=".*" action="images/win_max_over.gif"/>
	<context path="images/win_min.gif" method="GET" client=".*" lang=".*" action="images/win_min.gif"/>
	<context path="images/win_min_over.gif" method="GET" client=".*" lang=".*" action="images/win_min_over.gif"/>
	<context path="images/win_title.gif" method="GET" client=".*" lang=".*" action="images/win_title.gif" max-age="3600"/>
</config>
