<config>
    <context path="xul_core.js"
		method="GET"
		client="MSIE [6-7]"
		lang=".*"
		action="core_ie.js"
		max-age="3600"/>
    <context path="xul_core.js"
			method="GET"
			client="Version/3.\d(.*)Safari|Chrome/\d.\d"
			lang=".*"
			action="core_saf.js"
			max-age="3600">
		<filter type="porcupine.filters.output.Gzip"/>
	</context>
    <context path="xul_core.js"
			method="GET"
			client="Netscape/7|Mozilla/5.0"
			lang=".*"
			action="core_moz.js" max-age="3600">
        <filter type="porcupine.filters.output.Gzip"/>
    </context>
	<context path="quixextensions.js"
		method="GET"
		client=".*"
		lang=".*"
		action="quixextensions.psp"/>
	<context path="print.htm"
		method="GET"
		client=".*"
		lang=".*"
		action="print.htm"
		max-age="3600"/>
	<context path="ReadFile.jar"
		method="GET"
		client=".*"
		lang=".*"
		action="ReadFile.jar"/>
	<!-- QuiX Stylesheets -->
	<context path="quix.css"
		method="GET"
		client=".*"
		lang=".*"
		action="quix.css.psp"
		max-age="3600"/>
	<!-- QuiX Modules -->
	<context match="(.*)\.js"
		method="GET"
		client=".*"
		lang=".*"
		action="$1.js"
		max-age="3600"/>
	<!-- QuiX images-->
	<context match="images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="images/$1"
		max-age="3600"/>
</config>