<config>
    <context path="2leftarrow16.gif" method="GET" client=".*" lang=".*" action="2leftarrow16.gif"/>
    <context path="2rightarrow16.gif" method="GET" client=".*" lang=".*" action="2rightarrow16.gif"/>
    <context path="about16.gif" method="GET" client=".*" lang=".*" action="about16.gif"/>
    <context path="add16.gif" method="GET" client=".*" lang=".*" action="add16.gif"/>
    <context path="admintools.gif" method="GET" client=".*" lang=".*" action="admintools.gif"/>
    <context path="app.gif" method="GET" client=".*" lang=".*" action="app.gif"/>
    <context path="appsfolder.gif" method="GET" client=".*" lang=".*" action="appsfolder.gif"/>
    <context path="asc8.gif" method="GET" client=".*" lang=".*" action="asc8.gif"/>
    <context path="cancel.gif" method="GET" client=".*" lang=".*" action="cancel.gif"/>
    <context path="cancel10.gif" method="GET" client=".*" lang=".*" action="cancel10.gif"/>
    <context path="cancel8.gif" method="GET" client=".*" lang=".*" action="cancel8.gif"/>
    <context path="category.gif" method="GET" client=".*" lang=".*" action="category.gif"/>
    <context path="change_password.gif" method="GET" client=".*" lang=".*" action="change_password.gif"/>
    <context path="check16.gif" method="GET" client=".*" lang=".*" action="check16.gif"/>
    <context path="collapse.gif" method="GET" client=".*" lang=".*" action="collapse.gif"/>
    <context path="colorpicker16.gif" method="GET" client=".*" lang=".*" action="colorpicker16.gif"/>
    <context path="colorpicker22.gif" method="GET" client=".*" lang=".*" action="colorpicker22.gif"/>
    <context path="configure.gif" method="GET" client=".*" lang=".*" action="configure.gif"/>
    <context path="contact.gif" method="GET" client=".*" lang=".*" action="contact.gif"/>
    <context path="contact32.gif" method="GET" client=".*" lang=".*" action="contact32.gif"/>
    <context path="contact_folder.gif" method="GET" client=".*" lang=".*" action="contact_folder.gif"/>
    <context path="copy.gif" method="GET" client=".*" lang=".*" action="copy.gif"/>
    <context path="cut.gif" method="GET" client=".*" lang=".*" action="cut.gif"/>
    <context path="date16.gif" method="GET" client=".*" lang=".*" action="date16.gif"/>
    <context path="desc8.gif" method="GET" client=".*" lang=".*" action="desc8.gif"/>
    <context path="desktop.gif" method="GET" client=".*" lang=".*" action="desktop.gif"/>
    <context path="document.gif" method="GET" client=".*" lang=".*" action="document.gif"/>
    <context path="download.gif" method="GET" client=".*" lang=".*" action="download.gif"/>
    <context path="editdelete.gif" method="GET" client=".*" lang=".*" action="editdelete.gif"/>
    <context path="error32.gif" method="GET" client=".*" lang=".*" action="error32.gif"/>
    <context path="execute22.gif" method="GET" client=".*" lang=".*" action="execute22.gif"/>
    <context path="exit.gif" method="GET" client=".*" lang=".*" action="exit.gif"/>
    <context path="expand.gif" method="GET" client=".*" lang=".*" action="expand.gif"/>
    <context path="filenew.gif" method="GET" client=".*" lang=".*" action="filenew.gif"/>
    <context path="file_temporary.gif" method="GET" client=".*" lang=".*" action="file_temporary.gif"/>
    <context path="find16.gif" method="GET" client=".*" lang=".*" action="find16.gif"/>
    <context path="find32.gif" method="GET" client=".*" lang=".*" action="find32.gif"/>
    <context path="folder.gif" method="GET" client=".*" lang=".*" action="folder.gif"/>
    <context path="go_back22.gif" method="GET" client=".*" lang=".*" action="go_back22.gif"/>
    <context path="go_up22.gif" method="GET" client=".*" lang=".*" action="go_up22.gif"/>
    <context path="group.gif" method="GET" client=".*" lang=".*" action="group.gif"/>
    <context path="kcontrol.gif" method="GET" client=".*" lang=".*" action="kcontrol.gif"/>
    <context path="kgpg.gif" method="GET" client=".*" lang=".*" action="kgpg.gif"/>
    <context path="leftarrow16.gif" method="GET" client=".*" lang=".*" action="leftarrow16.gif"/>
    <context path="list_header.gif" method="GET" client=".*" lang=".*" action="list_header.gif"/>
    <context path="menu_radio.gif" method="GET" client=".*" lang=".*" action="menu_radio.gif"/>
    <context path="menu_check.gif" method="GET" client=".*" lang=".*" action="menu_check.gif"/>
    <context path="messagebox_info.gif" method="GET" client=".*" lang=".*" action="messagebox_info.gif"/>
    <context path="messagebox_question.gif" method="GET" client=".*" lang=".*" action="messagebox_question.gif"/>
    <context path="messagebox_warning.gif" method="GET" client=".*" lang=".*" action="messagebox_warning.gif"/>
    <context path="object.gif" method="GET" client=".*" lang=".*" action="object.gif"/>
    <context path="ok.gif" method="GET" client=".*" lang=".*" action="ok.gif"/>
    <context path="ok10.gif" method="GET" client=".*" lang=".*" action="ok10.gif"/>
    <context path="ok8.gif" method="GET" client=".*" lang=".*" action="ok8.gif"/>
    <context path="on_off_down.gif" method="GET" client=".*" lang=".*" action="on_off_down.gif"/>
    <context path="on_off_left.gif" method="GET" client=".*" lang=".*" action="on_off_left.gif"/>
    <context path="on_off_right.gif" method="GET" client=".*" lang=".*" action="on_off_right.gif"/>
    <context path="on_off_up.gif" method="GET" client=".*" lang=".*" action="on_off_up.gif"/>
    <context path="oql.gif" method="GET" client=".*" lang=".*" action="oql.gif"/>
    <context path="password.gif" method="GET" client=".*" lang=".*" action="password.gif"/>
    <context path="paste.gif" method="GET" client=".*" lang=".*" action="paste.gif"/>
    <context path="policies.gif" method="GET" client=".*" lang=".*" action="policies.gif"/>
    <context path="policy.gif" method="GET" client=".*" lang=".*" action="policy.gif"/>
    <context path="powered.gif" method="GET" client=".*" lang=".*" action="powered.gif"/>
    <context path="print16.gif" method="GET" client=".*" lang=".*" action="print16.gif"/>
    <context path="print22.gif" method="GET" client=".*" lang=".*" action="print22.gif"/>
    <context path="question32.gif" method="GET" client=".*" lang=".*" action="question32.gif"/>
    <context path="reload16.gif" method="GET" client=".*" lang=".*" action="reload16.gif"/>
    <context path="reload22.gif" method="GET" client=".*" lang=".*" action="reload22.gif"/>
    <context path="remove16.gif" method="GET" client=".*" lang=".*" action="remove16.gif"/>
    <context path="resize-handle.gif" method="GET" client=".*" lang=".*" action="resize-handle.gif"/>
    <context path="rightarrow16.gif" method="GET" client=".*" lang=".*" action="rightarrow16.gif"/>
    <context path="save22.gif" method="GET" client=".*" lang=".*" action="save22.gif"/>
    <context path="search22.gif" method="GET" client=".*" lang=".*" action="search22.gif"/>
    <context path="shutdown.gif" method="GET" client=".*" lang=".*" action="shutdown.gif"/>
    <context path="spin_up.gif" method="GET" client=".*" lang=".*" action="spin_up.gif"/>
    <context path="store.gif" method="GET" client=".*" lang=".*" action="store.gif"/>
    <context path="submenu.gif" method="GET" client=".*" lang=".*" action="submenu.gif"/>
    <context path="tb_handle.gif" method="GET" client=".*" lang=".*" action="tb_handle.gif"/>
    <context path="transp.gif" method="GET" client=".*" lang=".*" action="transp.gif"/>
    <context path="trashcan_empty22.gif" method="GET" client=".*" lang=".*" action="trashcan_empty22.gif"/>
    <context path="trashcan_empty8.gif" method="GET" client=".*" lang=".*" action="trashcan_empty8.gif"/>
    <context path="trashcan_full.gif" method="GET" client=".*" lang=".*" action="trashcan_full.gif"/>
    <context path="upload.gif" method="GET" client=".*" lang=".*" action="upload.gif"/>
    <context path="user.gif" method="GET" client=".*" lang=".*" action="user.gif"/>
    <context path="userfolder.gif" method="GET" client=".*" lang=".*" action="userfolder.gif"/>
    <context path="view_tree22.gif" method="GET" client=".*" lang=".*" action="view_tree22.gif"/>
    <context path="win_close.gif" method="GET" client=".*" lang=".*" action="win_close.gif"/>
    <context path="win_close_over.gif" method="GET" client=".*" lang=".*" action="win_close_over.gif"/>
    <context path="win_max.gif" method="GET" client=".*" lang=".*" action="win_max.gif"/>
    <context path="win_max_over.gif" method="GET" client=".*" lang=".*" action="win_max_over.gif"/>
    <context path="win_min.gif" method="GET" client=".*" lang=".*" action="win_min.gif"/>
    <context path="win_min_over.gif" method="GET" client=".*" lang=".*" action="win_min_over.gif"/>
    <context path="win_title.gif" method="GET" client=".*" lang=".*" action="win_title.gif"/>
</config>
