<config>
	<context path="usermgmnt.quix"
			method="GET"
			client=".*"
			lang=".*"
			action="usermgmnt.quix">
		<filter
			type="porcupine.filters.postProcessing.multilingual.Multilingual"
			using="org.innoscript.desktop.strings.resources"/>
	</context>
	<context path="usermgmnt.js"
		method="GET"
		client=".*"
		lang=".*"
		action="usermgmnt.js"/>
	<!-- images -->
	<context match="images/(.*)"
		method="GET"
		client=".*"
		lang=".*"
		action="images/$1"
		max-age="3600"/>
</config>