<config>
	<context path="xul_core.js" method="GET" client="MSIE 6" lang=".*" action="core_ie.js"/>
	<context path="xmlrpc.js" method="GET" client="MSIE 6" lang=".*" action="xmlrpc_ie.js"/>

	<context path="xul_core.js" method="GET" client="Netscape/7|Mozilla/5.0" lang=".*" action="core_moz.js" filters="porcupine.filters.postprocessing.Gzip"/>
	<context path="xmlrpc.js" method="GET" client="Netscape/7|Mozilla/5.0" lang=".*" action="xmlrpc_moz.js" filters="porcupine.filters.postprocessing.Gzip"/>

	<context path="quixextensions.js" method="GET" client=".*" lang=".*" action="quixextensions.psp"/>

	<context path="print.htm" method="GET" client=".*" lang=".*" action="print.htm"/>
	<context path="ReadFile.jar" method="GET" client=".*" lang=".*" action="ReadFile.jar"/>

	<!-- QuiX Modules -->
	<context path="buttons.js" method="GET" client=".*" lang=".*" action="buttons.js"/>
	<context path="common.js" method="GET" client=".*" lang=".*" action="common.js"/>
	<context path="datagrid.js" method="GET" client=".*" lang=".*" action="datagrid.js"/>
	<context path="datepicker.js" method="GET" client=".*" lang=".*" action="datepicker.js"/>
	<context path="file.js" method="GET" client=".*" lang=".*" action="file.js"/>
	<context path="formfields.js" method="GET" client=".*" lang=".*" action="formfields.js"/>
	<context path="listview.js" method="GET" client=".*" lang=".*" action="listview.js"/>
	<context path="menus.js" method="GET" client=".*" lang=".*" action="menus.js"/>
	<context path="splitter.js" method="GET" client=".*" lang=".*" action="splitter.js"/>
	<context path="tabpane.js" method="GET" client=".*" lang=".*" action="tabpane.js"/>
	<context path="toolbars.js" method="GET" client=".*" lang=".*" action="toolbars.js"/>
	<context path="tree.js" method="GET" client=".*" lang=".*" action="tree.js"/>
	<context path="windows.js" method="GET" client=".*" lang=".*" action="windows.js"/>
	<context path="timers.js" method="GET" client=".*" lang=".*" action="timers.js"/>
</config>
